<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block title %}
    <div class="ui five item menu">
        {% for table in tables[:5] %}
            {#  <a class="active item">Editorials</a>#}
            {% if table==cur_table %}<a class="active item">{{ table }}</a>
            {% else %}  <a class="item" href="?table={{ table }}">{{ table }}{% endif %}</a>
            {#  <a class="item">Upcoming Events</a>#}
        {% endfor %}
    </div>
    <div class="ui three item menu">
    {% for table in tables[5:] %}
            {#  <a class="active item">Editorials</a>#}
            {% if table==cur_table %}<a class="active item">{{ table }}</a>
            {% else %}  <a class="item" href="?table={{ table }}">{{ table }}{% endif %}</a>
            {#  <a class="item">Upcoming Events</a>#}
        {% endfor %}
    </div>

{% endblock %}
{% block content %}
    <div class="row">
        <h1 class="ui huge header">{{ cur_table }}</h1>
    </div>
    <div class="row">
        <table class="ui celled table">

            {% if cur_table=='muba_response_def' %}
                <form class="form-inline" action="/chatbot/db_manage/item_add" method="post">
                <input type="hidden" name="cur_table" value="{{ cur_table }}">
                <select name="intent_id" class="form-control ui search dropdown">

                    {% for rd in intent_list %}
                        <option value={{ rd[0] }}>{{ rd[1] }}</option>

                    {% endfor %}
                </select>
                <div class="ui input focus">
                    <input type="text" size=50 placeholder="sentence" name="sentence" value="">
                </div>
                <button type="submit" class="ui primary button">
                    add
                </button>
                </form>

                <thead>
                <tr>

                    <th class="collapsing">intent_id</th>
                    <th class="collapsing">sentence_intent</th>
                    <th>sentence</th>

                </tr>
                </thead>
                <tbody>

                {% for rd in table_info %}
                    <tr>
                        <td data-label="muba_response_intent_id">{{ rd[1] }}</td>
                        <td data-label="intent_name">{{ rd[3] }}({{ rd[4] }})</td>
                        <td data-label="sentence">{{ rd[2] }}<button onclick='location="/chatbot/db_manage/item_delete?table={{ cur_table }}&id={{ rd[0] }}"' style="float:right" class="ui button">Delete</button></td>

                    </tr>
                {% endfor %}

                </tbody>
                {% elif cur_table=='muba_response_intent' %}
                <form class="form-inline" action="/chatbot/db_manage/item_add" method="post">
                <input type="hidden" name="cur_table" value="{{ cur_table }}">

                <div class="ui input focus">
                    <input type="text" size=50 placeholder="intent_name" name="intent_name" value="">
                    <input type="text" size=50 placeholder="func" name="func" value="">
                </div>
                <button type="submit" class="ui primary button">
                    add
                </button>
                </form>

                <thead>
                <tr>

                    <th class="collapsing">intent_id</th>
                    <th>intent_name</th>
                    <th class="collapsing">function</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>

                {% for rd in table_info %}
                    <tr>
                        <td data-label="muba_response_intent_id">{{ rd[0] }}</td>
                        <td data-label="intent_name">{{ rd[1] }}</td>
                        <td data-label="function">{{ rd[2] }}</td>
                        <td><button onclick='location="/chatbot/db_manage/item_delete?table={{ cur_table }}&id={{ rd[0] }}"' style="float:right" class="ui button">Delete</button></td>

                    </tr>
                {% endfor %}

                </tbody>
                {% elif cur_table=='user_request_intent' %}
                <form class="form-inline" action="/chatbot/db_manage/item_add" method="post">
                <input type="hidden" name="cur_table" value="{{ cur_table }}">

                <div class="ui input focus">
                    <input type="text" size=50 placeholder="intent_name" name="intent_name" value="">
                </div>
                <button type="submit" class="ui primary button">
                    add
                </button>
                </form>

                <thead>
                <tr>

                    <th class="collapsing">intent_id</th>
                    <th>intent_name</th>
                    <th class="collapsing"></th>

                </tr>
                </thead>
                <tbody>

                {% for rd in table_info %}
                    <tr>
                        <td data-label="user_request_intent_id">{{ rd[0] }}</td>
                        <td data-label="intent_name">{{ rd[1] }}</td>
                        <td><button onclick='location="/chatbot/db_manage/item_delete?table={{ cur_table }}&id={{ rd[0] }}"' style="float:right" class="ui button">Delete</button></td>

                    </tr>
                {% endfor %}

                </tbody>
                {% elif cur_table=='food' %}
                <form class="form-inline" action="/chatbot/db_manage/item_add" method="post">
                <input type="hidden" name="cur_table" value="{{ cur_table }}">

                <div class="ui input focus">
                    <input type="text" size=50 placeholder="food_name" name="food_name" value="">
                </div>
                <button type="submit" class="ui primary button">
                    add
                </button>
                </form>

                <thead>
                <tr>

                    <th class="collapsing">food_id</th>
                    <th>food_name</th>
                    <th class="collapsing"></th>

                </tr>
                </thead>
                <tbody>

                {% for rd in table_info %}
                    <tr>
                        <td data-label="food_id">{{ rd[0] }}</td>
                        <td data-label="food_name">{{ rd[1] }}</td>
                        <td><button onclick='location="/chatbot/db_manage/item_delete?table={{ cur_table }}&id={{ rd[0] }}"' style="float:right" class="ui button">Delete</button></td>

                    </tr>
                {% endfor %}

                </tbody>
                {% elif cur_table=='restaurant' %}
{#                <form class="form-inline" action="/chatbot/db_manage/item_add" method="post">#}
{#                <input type="hidden" name="cur_table" value="{{ cur_table }}">#}
{##}
{#                <div class="ui input focus">#}
{#                    <input type="text" size=50 placeholder="restaurant_name" name="restaurant_name" value="">#}
{#                    <input type="text" size=50 placeholder="franchise" name="franchise_loc" value="">#}
{#                    <input type="text" size=50 placeholder="menu" name="menu" value="">#}
{#                </div>#}
{#                <button type="submit" class="ui primary button">#}
{#                    add#}
{#                </button>#}
{#                </form>#}

                <thead>
                <tr>

                    <th class="collapsing">restaurant_id</th>
                    <th>restaurant_name</th>
                    <th>franchise</th>
                    <th>menu</th>
                    <th class="collapsing"></th>

                </tr>
                </thead>
                <tbody>

                {% for rd in table_info %}
                    <tr>
                        <td data-label="restaurant_id">{{ rd[0] }}</td>
                        <td data-label="restaurant_name">{{ rd[1] }}</td>
                        <td data-label="franchise">{{ rd[2] }}</td>
                        <td data-label="menu">{{ rd[3] }}</td>
                        <td><button onclick='location="/chatbot/db_manage/item_delete?table={{ cur_table }}&id={{ rd[0] }}"' style="float:right" class="ui button">Delete</button></td>

                    </tr>
                {% endfor %}

                </tbody>
            {% elif cur_table=='user_request_def' %}
                <form class="form-inline" action="/chatbot/db_manage/item_add" method="post">
                <input type="hidden" name="cur_table" value="{{ cur_table }}">
                <select name="intent_id" class="form-control ui search dropdown">

                    {% for rd in intent_list %}
                        <option value={{ rd[0] }}>{{ rd[1] }}</option>

                    {% endfor %}
                </select>
                <div class="ui input focus">
                    <input type="text" size=50 placeholder="sentence" name="sentence" value="">
                </div>
                <button type="submit" class="ui primary button">
                    add
                </button>
                </form>
                <thead>
                <tr>

                    <th class="collapsing">intent_id</th>
                    <th class="collapsing">sentence_intent</th>
                    <th>sentence</th>

                </tr>
                </thead>
                <tbody>

                {% for rd in table_info %}
                    <tr>
                        <td data-label="user_request_intent_id">{{ rd[1] }}</td>
                        <td data-label="intent_name">{{ rd[3] }}</td>
                        <td data-label="sentence">{{ rd[2] }}<button onclick='location="/chatbot/db_manage/item_delete?table={{ cur_table }}&id={{ rd[0] }}"' style="float:right" class="ui button">Delete</button></td>

                    </tr>
                {% endfor %}

                </tbody>
            {% elif cur_table=='scenario' %}
                <div id="scenario_item">
{#                    <input type="text" size=50 placeholder="sentence" name="sentence" value="">#}
                </div>
                <button class="ui secondary button" onclick="add_scene_item();">
                    +
                </button>
                <button type="submit" class="ui primary button" onclick="submit_scenario();">
                    add
                </button>
{#                </form>#}
                <thead>
                <tr>

                    <th class="collapsing">scenario_id</th>
                    <th>scenario</th>
                    <th class="collapsing"></th>
                    {#                <th>sentence</th>#}

                </tr>
                </thead>
                <tbody>

                {% for rd in table_info %}
                    <tr>
                        <td data-label="scenario_id" class="collapsing">{{ rd[0] }}</td>
                        <td data-label="intent_name">
                            {% for scene in rd[2] %}
                                {% if scene[0]=='muba' %}
                                    <span style="color:blue" data-tooltip="{% for ex in scene[2]%}{{ ex[0] }}{% endfor %}" >muba : {{ scene[1] }}</span><br>
                                {% else %}
                                    <span style="color:black"data-tooltip="{% for ex in scene[2]%}{{ ex[0]+'/  ' }}{% endfor %}" >user : {{ scene[1] }}</span><br>
                                {% endif %}


                            {% endfor %}</td>
                        <td><button onclick='location="/chatbot/db_manage/item_delete?table={{ cur_table }}&scenario_id={{ rd[0] }}"' style="float:right" class="ui button">Delete</button></td>

                    </tr>
                {% endfor %}

                </tbody>
            {% endif %}
        </table>
    </div>
    <script>
    var cnt=0;
    function post_to_url(path, params, method) {
        method = method || "post"; // Set method to post by default, if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
        }

        document.body.appendChild(form);
        form.submit();
    }

    function submit_scenario(){
        var listobj=[];
        for(var i=0; i<cnt; i++) {
            var d=document.getElementById("scene_item"+i);
            listobj.push(d.value);
        }
        {#window.location ='/chatbot/db_manage?table=scenario'#}
        post_to_url('/chatbot/db_manage/scenario_add',{'scenario_list':JSON.stringify(listobj)});
        cnt=0;
    }
    function add_scene_item() {
        var myDiv = document.getElementById("scenario_item");
        var x=document.createElement("select");
        x.id = "scene_item"+cnt;
        x.className ="form-control ui search dropdown";
        myDiv.appendChild(x);

        if(cnt%2==0){
            {% for intent in user_intent %}
                var option = document.createElement("option");
                option.text = "{{ intent[1] }}";
                option.value={{ intent[0] }};
                x.appendChild(option);
            {% endfor %}
        }
        else {
            {% for intent in muba_intent %}
                var option = document.createElement("option");
                option.text = "{{ intent[1] }}";
                option.value={{ intent[0] }};
                option.id="item"+cnt;

                x.appendChild(option);
            {% endfor %}
        }

        cnt+=1;

    };
    </script>
{% endblock %}


</html>